<div class="image">
    <table border="0" align = "center" cellpadding="0" cellspacing="0">
<fieldset>
  <a class="img1" href=""><img src="../assets/logo.png" width="250" height="200" ></a>
 
   <div class="areapersonale">
   <i *ngIf="log==true">
     <i class="bi bi-universal-access-circle"></i><a    href="area_personale" class="link-secondary">Profilo   </a></i>
   <i *ngIf="log==false">
    <i class="bi bi-universal-access-circle"></i><a href="login" class="link-secondary">Accedi   </a></i>
    <i *ngIf="logAdmin==true">
      <i class="bi bi-universal-access-circle"></i><a href="admin" class="link-secondary">Admin   </a></i>
   
  </div>
  
  <div class="logreg">
    <i *ngIf="log==false"><a href="registration" class="link-secondary">Registrati</a></i>
    <i *ngIf="log==true"><a href="alloggi" (click)="LogOut()" class="link-secondary">LogOut</a></i>

</div>
 
  <div class="card">
    <div class="card-header">
      

      <div class="topnav">
        <a href="alloggi" class="active">Alloggi</a>
        <a href="pacchetti">Pacchetti</a>
        <a href="viaggi">Viaggi</a>
      </div>

    </div>

    <div class="card-body">
      <!--------------------------------------------------------------------->
      <div class="row text-center ">
        <div class="col">
          <div class="text-input">
            <input type="text" id="input1" placeholder="Inserire Destinazione">
            <label for="input1">Destinazione</label>
          </div>
          
          <label class="data"> DA :</label>
            <div class="datac1"> <input class="d1" type="date" id="dateStandard" name="dateStandard"></div>
          
         
        </div>

        <div class="col">
            <label class="data2"> A :</label>
           <div class="datac2"> <input class="d2" type="date"  id="dateStandard" name="dateStandard" ></div>

           <div class="text-input">
            
            <input type="text" id="input1" placeholder="Inserie numero">
            <label for="input1">N persone</label>
        </div>

          </div>
      </div>
      

      <!--------------------------------------------------------------------->
      <button type="button" class="btn" (click)="cercaViaggi()"> Cerca </button>
    </div>
    <br>
    <br>
    <hr>
</div>


<ng-container><a *ngFor="let v of viaggi">
  <div class="card border-secondary mb-3" style="max-width: 60rem;">
    <div class="card-header">{{v}}</div>
    <div class="card-body text-secondary">
      <p class="card-text"></p> 
      
    </div>
  </div>
</a></ng-container>
</fieldset>
    </table>

</div>
