<div class="image">
   

    
    
    <table border="0" align = "center" cellpadding="0" cellspacing="0">
    
        
        <td align = "center"><fieldset class="esterno">
    
    <div class="container"    >
        
        
        <a href=""><img src="../assets/logo.png" width="250" height="200" ></a>
        
        
    
        
        <fieldset class="interno">
        <img src="../../assets/user_icona.png" width="75" height="75"><br><br>
        <p>
        <!------------------------------------------------------------>
        <p>Nome: *nome*</p>
            
        
        <!------------------------------------------------------------>
        <p>Cognome: *cognome*</p>

        
        
        <!------------------------------------------------------------>

        <p>Nome utente: *nome utente*</p>
            
        
        <!------------------------------------------------------------>
        Email: <label *ngIf="modificaEmail==false; else mEmail">*email*&nbsp;<button (click)="toggleEmail();">Modifica</button></label>
        <ng-template #mEmail>
            
            <input type="email" placeholder="Email" name="email" id="email" required>
            &nbsp;<button (click)="toggleEmail();">Annulla</button>
        </ng-template>
            
        <br>
        <!------------------------------------------------------------>
        <p>Data di nascita: *data di nascita*</p>
            
        
        <!------------------------------------------------------------>
        <p>Indirizzo: *indirizzo*</p>
            
        
        <!------------------------------------------------------------>
        Telefono: <label *ngIf="modificaTelefono==false; else mTelefono">*telefono*&nbsp;<button (click)="toggleTelefono();">Modifica</button></label>
        <ng-template #mTelefono>
            
            <input type="tel" placeholder="Numero di telefono" name="telefono" id="telefono" required>
            &nbsp;<button (click)="toggleTelefono();">Annulla</button>
        </ng-template>
            
        <br>
        <!------------------------------------------------------------>
        <p>Codice carta d'identità: *codice*</p>
            
        
        <!------------------------------------------------------------>
        <p>Sesso: *sesso*</p>
            
        
        <!------------------------------------------------------------>
        Password<label *ngIf="modificaPassword==false; else mPassword">&nbsp;<button (click)="togglePassword();">Modifica</button></label>
        <ng-template #mPassword>
            
            <input type="password" placeholder="Password" name="psw" id="psw" required>
            &nbsp;<button (click)="togglePassword();">Annulla</button>
        </ng-template>
            
        <br>
        <!------------------------------------------------------------>
        <br><label *ngIf="modificaEmail==true || modificaTelefono==true || modificaPassword==true">
            <button>Salva</button>&nbsp;
            <button (click)="bAnnulla();">Annulla</button></label>
        
    
    </fieldset>
    <br>
    <fieldset class="interno">
        <p>guarda le tue <a href="prenotazioni">prenotazioni</a></p>
        <!--a href="#"></a-->
    </fieldset>    

    
        <!--div class="container signin">
        <a href="#">Prenotazioni associate</a>
        </div-->
    </div>
        </fieldset></td>
    
    </table>
    
    

    
    </div>







    