<div class="image">
   

    
    
    <table border="0" align = "center" cellpadding="0" cellspacing="0">
    
        
        <td align = "center"><fieldset class="esterno">
    
    <div class="container"    >
        
        
        <a href=""><img src="../assets/logo.png" width="250" height="200" ></a>
        
        
    
        
        <fieldset class="interno">
        <img src="../../assets/user_icona.png" width="75" height="75"><br><br>
        <p>
        <!------------------------------------------------------------>
        Nome: <label *ngIf="modificaNome==false; else mNome">*nome*&nbsp;<button (click)="toggleNome();">Modifica</button></label>
        <ng-template #mNome>
            
            <input type="text" placeholder="Nome" name="nome" id="nome" required>
            &nbsp;<button (click)="toggleNome();">Annulla</button>
        </ng-template>
            
                <br>
        <!------------------------------------------------------------>
        Cognome: <label *ngIf="modificaCognome==false; else mCognome">*cognome*
            &nbsp;<button (click)="toggleCognome();">Modifica</button></label>
        <ng-template #mCognome>
            
            <input type="text" placeholder="Cognome" name="cognome" id="cognome" required>
            &nbsp;<button (click)="toggleCognome();">Annulla</button>

        </ng-template>
        <br>
        <!------------------------------------------------------------>

        Nome utente: <label *ngIf="modificaNomeUtente==false; else mNomeUtente">*nome utente*&nbsp;<button (click)="toggleNomeUtente();">Modifica</button></label>
        <ng-template #mNomeUtente>
            
            <input type="text" placeholder="Nome utente" name="nome-utente" id="nome-utente" required>
            &nbsp;<button (click)="toggleNomeUtente();">Annulla</button>
        </ng-template>
            
        <br>
        <!------------------------------------------------------------>
        Email: <label *ngIf="modificaEmail==false; else mEmail">*email*&nbsp;<button (click)="toggleEmail();">Modifica</button></label>
        <ng-template #mEmail>
            
            <input type="email" placeholder="Email" name="email" id="email" required>
            &nbsp;<button (click)="toggleEmail();">Annulla</button>
        </ng-template>
            
        <br>
        <!------------------------------------------------------------>
        Data di nascita: <label *ngIf="modificaDataNascita==false; else mDataNascita">*data di nascita*&nbsp;<button (click)="toggleDataNascita();">Modifica</button></label>
        <ng-template #mDataNascita>
            
            <input type="date" placeholder="Inserire una data " name="data" id="data" min="1922-01-01"required>
            &nbsp;<button (click)="toggleDataNascita();">Annulla</button>
        </ng-template>
            
        <br>
        <!------------------------------------------------------------>
        Indirizzo: <label *ngIf="modificaIndirizzo==false; else mIndirizzo">*indirizzo*&nbsp;<button (click)="toggleIndirizzo();">Modifica</button></label>
        <ng-template #mIndirizzo>
            
            <input type="text" placeholder="Indirizzo" name="indirizzo" id="indirizzo" required>
            &nbsp;<button (click)="toggleIndirizzo();">Annulla</button>
        </ng-template>
            
        <br>
        <!------------------------------------------------------------>
        Telefono: <label *ngIf="modificaTelefono==false; else mTelefono">*telefono*&nbsp;<button (click)="toggleTelefono();">Modifica</button></label>
        <ng-template #mTelefono>
            
            <input type="tel" placeholder="Numero di telefono" name="telefono" id="telefono" required>
            &nbsp;<button (click)="toggleTelefono();">Annulla</button>
        </ng-template>
            
        <br>
        <!------------------------------------------------------------>
        Codice carta d'identità: <label *ngIf="modificaCodiceCartaIdentita==false; else mCodiceCartaIdentita">*codice*&nbsp;<button (click)="toggleCodiceCartaIdentita();">Modifica</button></label>
        <ng-template #mCodiceCartaIdentita>
            
            <input type="text" placeholder="Numero carta identità" name="codiceCartaIdentita" id="codiceCartaIdentita"  required>
            &nbsp;<button (click)="toggleCodiceCartaIdentita();">Annulla</button>
        </ng-template>
            
        <br>
        <!------------------------------------------------------------>
        Sesso: <label *ngIf="modificaSesso==false; else mSesso">*cognome*&nbsp;<button (click)="toggleSesso();">Modifica</button></label>
        <ng-template #mSesso>
            
            <label>
                <input type="radio" name="sex" value="male"  > Maschio
                <input type="radio" name="sex" value="female"  > Femmina
            </label>
            &nbsp;<button (click)="toggleSesso();">Annulla</button>
        </ng-template>
            
        <br>
        <!------------------------------------------------------------>
        Password<label *ngIf="modificaPassword==false; else mPassword">&nbsp;<button (click)="togglePassword();">Modifica</button></label>
        <ng-template #mPassword>
            
            <input type="password" placeholder="Password" name="psw" id="psw" required>
            &nbsp;<button (click)="togglePassword();">Annulla</button>
        </ng-template>
            
        <br>
        <!------------------------------------------------------------>
        <br><label *ngIf="modificaNome==true || modificaCognome==true || modificaEmail==true || modificaDataNascita==true || modificaIndirizzo==true || modificaTelefono==true || modificaNomeUtente==true || modificaCodiceCartaIdentita==true || modificaSesso==true || modificaPassword==true">
            <button>Salva</button>
            <button (click)="bAnnulla();">Annulla</button></label>
        </p>
    
    </fieldset>
    <br>
        

    
        <!--div class="container signin">
        <a href="#">Hai dimenticato la password?</a>
        </div-->
    </div>
        </fieldset></td>
    
    </table>
    
    

    
    </div>







    