<div class="image">
  <table border="0" align = "center" cellpadding="0" cellspacing="0">
<fieldset>
  <div class="card">
    <div class="card-header">
      <ul class="nav nav-pills justify-content-center" id="pills-tab" role="tablist">
        <li class="nav-item">
          <a class="nav-link" href="alloggi" role="tab" aria-controls="pills-home" aria-selected="false">Alloggi</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" data-toggle="pill" href="pacchetti" role="tab" aria-controls="pills-profile" aria-selected="true">Pacchetti</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  href="viaggi" role="tab" aria-controls="pills-contact" aria-selected="false">Viaggi</a>
        </li>
      </ul>
  
    </div>
    <div class="card-body">
    
       inserisci pacchetti navbar
</div>
</div>

<a  href="login"><i class="fa fa-fw fa-envelope"></i> login</a>
<a  href="registration"><i class="fa fa-fw fa-envelope"></i> registrazione</a>

</fieldset>
  </table>

</div>







