<div class="image">
  <table border="0" align = "center" cellpadding="0" cellspacing="0">
<fieldset>
<a class="img1" href=""><img src="../assets/logo.png" width="250" height="200" ></a>
<div class="logreg">
<i class="bi bi-universal-access-circle"></i><a href="login" class="link-secondary">Accedi   </a>
<a href="registration" class="link-secondary">Registrati</a>
</div>

<div class="card">
  <div class="card-header">
    

    <div class="topnav">
      <a href="alloggi" >Alloggi</a>
      <a href="pacchetti"class="active">Pacchetti</a>
      <a href="viaggi">Viaggi</a>
    </div>

  </div>




    <div class="card-body">
      <!--------------------------------------------------------------------->
      <form>
        <label>Destinazione : </label>  <input type="text" placeholder="Destinazione" name="Destinazione" id="destinazione">
        <label>N Partecipanti : </label> <input type="number" placeholder="Numero di partecipanti" name="nPartecipanti" id="nPartecipanti">
          
          <!--input type="checkbox" name="sconto" value="1">
          <label for="sconto">&nbsp;Viaggio in sconto</label-->
          
      </form>
      <!--------------------------------------------------------------------->
    </div>
  </div>
<button type="submit" name="registrazione" value="registrazione" (click)="cercaViaggi()"> Cerca </button>
<ng-container><a *ngFor="let v of viaggi">
  <div class="card border-secondary mb-3" style="max-width: 60rem;">
    <div class="card-header">{{v}}</div>
    <div class="card-body text-secondary">
      <p class="card-text"></p> 
      
    </div>
  </div>
</a></ng-container>
</fieldset>
  </table>

</div>







