<div class="image">


    <form action="action_page.php">

        <table border="0" align = "center" cellpadding="0" cellspacing="0">


            <td align = "center"><fieldset >

                <div class="container"    >


                    <a href=""><img src="../assets/logo.png" width="250" height="200" ></a>




                    <fieldset>

                        <h1 class = "title1"> Login </h1>
                        <hr>
                        <p>Effettua il login</p>


                        <br>

                        <label for="email"></label>
                        <input type="email" placeholder="Email" name="email" id="email" required>

                        <br>
                        <label for="psw"></label>
                        <input type="password" placeholder="Password" name="psw" id="psw" required>
                        <br>


                        <br>
                        <hr>
                        <br>
                        <button type="submit" name="registrazione" value="registrazione" onclick="validateForm()"> Entra </button>

                        </fieldset>
                        <br>


                        <!--da provare>
                        <div class="container signin">
                            <i>test ↓</i><br><p><a href="#">Hai dimenticato la password?</a></p>
                        </div-->
                </div>
                </fieldset>
            </td>

        </table>



    </form>
</div>