<div class="image">


    <form action="action_page.php">

        <table border="0" align = "center" cellpadding="0" cellspacing="0">


            <td align = "center"><fieldset class="esterno">

                <div class="container"    >


                    <a href=""><img src="../assets/logo.png" width="250" height="200" ></a>




                    <fieldset class="interno">

                        <h1 class = "title1"> Login </h1>
                        <hr>
                        <p>Effettua il login</p>


                        <br>
                        <form [formGroup]= "mioForm" (ngSubmit)="login()">
                        <label for="email"></label>
                        <input type="email" placeholder="Email" name="email" id="email" formControlName="email" required>

                        <br>
                        <label for="psw"></label>
                        <input type="password" placeholder="Password" name="psw" id="psw"  formControlName="password" required>
                        <br>


                        <br>
                        <hr>
                        <br>
                        <button type="submit" name="accedi" value="accedi" > Entra </button>
                        </form>
                        </fieldset>
                        <br>


                        <!--da provare>
                        <div class="container signin">
                            <i>test ↓</i><br><p><a href="#">Hai dimenticato la password?</a></p>
                        </div-->
                </div>
                </fieldset>
            </td>

        </table>



    </form>
</div>