<div class="image">
   

    
    
    <table border="0" align = "center" cellpadding="0" cellspacing="0">
    
        
        <td align = "center"><fieldset class="esterno">
    
    <div class="container"    >
        
        
        <a href=""><img src="../assets/logo.png" width="250" height="200" ></a>
        
        
    
        
        <fieldset class="interno">
        
            <label *ngFor="let item of prenotazioni">
                <div class="card" style="width: 18rem;">
                    <div><img src={{item.imgLink}} style="width: 65%;height: 65%; padding-left: auto;padding-right: auto;" class="card-img-top"></div>
                    <div class="card-body">
                        <a href="#"><h4>{{item.titolo}}</h4></a>
                        <hr><p class="card-text">{{item.descrizione}}</p>
                        <hr><p class="card-text">destinazione : {{item.destinazione}}</p>
                        <hr><p class="card-text">{{item.dataInizio}} / {{item.dataFine}}</p>
                        <hr><p class="card-text">prezzo : {{item.prezzo}} € </p>
                        <hr><p class="card-text">N° persone : {{item.nPartecipanti}} </p>
                        <hr><p class="card-text">codice prenotazione : {{item.codPrenotazione}}</p>

                    </div>
                </div>
            </label>
    
    </fieldset>
    <br>
        

    
        <!--div class="container signin">
        <a href="#">Prenotazioni associate</a>
        </div-->
    </div>
        </fieldset></td>
    
    </table>
    
    

    
    </div>







    