<div class="image">
   

    
    
    <table border="0" align = "center" cellpadding="0" cellspacing="0">
    
        
        <td align = "center"><fieldset class="esterno">
    
    <div class="container"    >
        
        
        <a href=""><img src="../assets/logo.png" width="250" height="200" ></a>
        
        
    
        
        <fieldset class="interno">
        
            <label *ngFor="let item of prova">
                <div class="card" style="width: 18rem;">
                    <div><img src="../assets/work_in_progress.png" style="width: 65%;height: 65%; padding-left: auto;padding-right: auto;" class="card-img-top"></div>
                    <div class="card-body">
                        <a href="#"><h4>*titolo*</h4></a>
                        <hr><p class="card-text">*vacanza.descrizione*</p>
                        <hr><p class="card-text">*vacanza.destinazione*</p>
                        <hr><p class="card-text">*offerta.dataInizio e dataFine*</p>
                        <hr><p class="card-text">*€ offerta.prezzo*</p>
                        <hr><p class="card-text">*<label style="color: red;">finita</label>*<label style="color: blue;">in corso</label>*<label style="color: green;">ancora deve iniziare</label>*</p>
                    </div>
                </div>
            </label>
    
    </fieldset>
    <br>
        

    
        <!--div class="container signin">
        <a href="#">Prenotazioni associate</a>
        </div-->
    </div>
        </fieldset></td>
    
    </table>
    
    

    
    </div>







    