<div class="image">
  <table border="0" align = "center" cellpadding="0" cellspacing="0">
<fieldset>



  <div class="card">
    <div class="card-header">
      <ul class="nav nav-pills justify-content-center" id="pills-tab" role="tablist">
        <li class="nav-item">
          <a class="nav-link" href="alloggi" role="tab" aria-controls="pills-home" aria-selected="false">Alloggi</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="pacchetti" role="tab" aria-controls="pills-profile" aria-selected="false">Pacchetti</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active"  data-toggle="pill" href="viaggi" role="tab" aria-controls="pills-contact" aria-selected="true">Viaggi</a>
        </li>
      </ul>
      
    </div>
    <div class="card-body">
        <!--------------------------------------------------------------------->
        <form>
            <input type="text" placeholder="Partenza" name="Partenza" id="partenza">
            
            <input type="text" placeholder="Destinazione" name="Destinazione" id="destinazione">
        
            <input type="date" placeholder="Andata" name="Andata" id="andata">
            <input type="date" placeholder="Ritorno" name="Ritorno" id="ritorno">
            
        </form>
        <!--------------------------------------------------------------------->
</div>
</div>
<button type="submit" name="registrazione" value="registrazione" (click)="cercaViaggi()"> Cerca </button>
<a  href="login"><i class="fa fa-fw fa-envelope"></i> login</a>
<a  href="registration"><i class="fa fa-fw fa-envelope"></i> registrazione</a>

<ng-container><a *ngFor="let v of viaggi">
  <div class="card border-secondary mb-3" style="max-width: 60rem;">
    <div class="card-header">{{v}}</div>
    <div class="card-body text-secondary">
      <p class="card-text"></p> 
      
    </div>
  </div>
</a></ng-container>
</fieldset></table></div>











