table{ padding: 10px 50px 30px 50px;}
.image{

    background-image:url('../../assets/back_img.png');
    width:auto;
    height:auto;
    margin: -15px -15px -15px -15px;
    
}
fieldset {
 
  
  margin:50px 50px 300px 50px;
  background-color:white;
  padding: 10px 50px 30px 50px;
  
  border-radius: 20px;
  box-shadow: 0 0 30px #666;
}
.card {
  
  width: 900px;
  border-radius: 6px;
  padding: 10px,10px,10px,10px;
 
}

.img1{
  padding-left: 31%;
  
}





div.logreg{
  float:right;
  
}


input{
  font-family:"Helvetica",  Sans-serif;
border: none;
padding-right: 60px;
border-radius: 8px;
line-height: 30px;
border-bottom: 2px solid rgb(128, 128, 128);}


button{
  background-color: white;
color: rgb(46, 134, 216);
font-family:"Helvetica",  Sans-serif;
border: 2px solid rgb(46, 134, 216); /* Green */
transition-duration: 0.4s;
font-size:35px;
border-radius: 20px;
width: 900px;

}
button:hover{
  background-color: rgb(46, 134, 216); /* Green */
  font-family:"Helvetica",  Sans-serif;
  color: white;
  font-size:25;
  border-radius: 20px;

}