<div class="image">
    <table border="0" align = "center" cellpadding="0" cellspacing="0">
<fieldset>
  <a class="img1" href=""><img src="../assets/logo.png" width="250" height="200" ></a>
 

  <div class="logreg">
  <i class="bi bi-universal-access-circle"></i><a href="alloggi" class="link-secondary">Home   </a>
</div>
 
  
   
<form [formGroup]= "mioForm2" (ngSubmit)="aggiungiAlloggio()">
    
         
        <div> <label>Destinazione : </label> <input type="text" placeholder="Destinazione" name="Destinazione" id="destinazione" formControlName="destinazione"></div> 
        <div><label>N Partecipanti : </label>  <input type="number" placeholder="Numero di partecipanti" name="nPartecipanti" id="nPartecipanti" formControlName="nPartecipanti"></div>
        <div><label>Pensione : </label> <select class="selectpicker"  data-style="btn-primary" formControlName="pensione">
            <option value="no">Seleziona Pensione</option>
            <option value="Completa">Completa</option>
            <option value="Mezza">Mezza</option>
            <option value="No">No</option>
          </select></div>
      <div><label>Titolo : </label> <input type="text" placeholder="titolo" name="titolo" id="titolo" formControlName="titolo"></div>
          <div><label>N Bagni : </label> <input type="number" placeholder="Numero di bagni " name="nBagni" id="nBagni" formControlName="nBagni"></div>
          <div><label>N Stanze Letto : </label>  <input type="number" placeholder="Numero stanze letto " name="nLetti" id="nLetti" formControlName="nStanzaLetto"></div>
          <div><label>Descrizione : </label> <input type="text" placeholder="Descrizione" name="descrizione" id="descrizione" formControlName="descrizione"></div>
          <div> <label>linkImg : </label> <input type="text" placeholder="linkImg" name="linkImg" id="linkImg" formControlName="linkImg"></div>
        
<button type="submit" name="aggiungiAlloggio" value="aggiungiAlloggio" > aggiungi Alloggio </button>
</form>

<form [formGroup]= "mioForm3" (ngSubmit)="aggiungiOfferta()">
  <label class="data2"> DA :</label>
  <div class="datac2"> <input class=d2 type="date"  id="dateStandard" name="dateStandard" formControlName="dataInizioOfferta"></div>
  <label class="data2"> A :</label>
  <div class="datac2"> <input class=d2 type="date"  id="dateStandard" name="dateStandard" formControlName="dataFineOfferta"></div>
  <div><label>Prezzo :  </label>  <input type="input" placeholder="Prezzo" name="Prezzo" id="Prezzo" formControlName="Prezzo"></div>
  <div><label>Codice Alloggio : </label>  <input type="input" placeholder="idVacanza" name="idVacanza" id="idVacanza" formControlName="idVacanza"></div>

         
  
<button type="submit" name="aggiungiAlloggio" value="aggiungiAlloggio" > aggiungi Offerta </button>
</form>



<div class="card-body">
    <!--------------------------------------------------------------------->
    <form>
        <div class="row text-center ">
     <div class="col">
      <div><label>Titolo : </label> <input type="text" placeholder="Titolo" name="Titolo" id="Titolo"></div>
      <div><label>Destinazione : </label>  <input type="text" placeholder="Destinazione" name="Destinazione" id="destinazione"></div>
     <div><label>N Partecipanti : </label> <input type="number" placeholder="Numero di partecipanti" name="nPartecipanti" id="nPartecipanti"></div>
     <label class="data2"> DA :</label>
     <div class="datac2"> <input class=d2 type="date"  id="dateStandard" name="dateStandard" ></div>

    
    </div>
     <div class="col">
     <div><label>Descrizione : </label> <input type="text" placeholder="Descrizione" name="Descrizione" id="Descrizione"></div>
      <div> <label>linkImg : </label> <input type="text" placeholder="linkImg" name="linkImg" id="linkImg"></div>
      <label class="data2"> A :</label>
      <div class="datac2"> <input class=d2 type="date"  id="dateStandard" name="dateStandard" ></div>

    </div>
        <!--input type="checkbox" name="sconto" value="1">
        <label for="sconto">&nbsp;Viaggio in sconto</label-->
        </div>
    </form>
    <button type="submit" name="aggiungiPacchetto" value="aggiungiPacchetto" (click)="aggiungiPacchetto()"> aggiungi Pacchetto </button>

    <!--------------------------------------------------------------------->
  </div>


  <div class="card-body">
    <!--------------------------------------------------------------------->
    <form>
        <div class="row text-center ">
        <div class="col">
        <div><label>Partenza : </label> <input type="text" placeholder="Partenza" name="Partenza" id="partenza"></div>
        <div> <label>Destinazione : </label> <input type="text" placeholder="Destinazione" name="Destinazione" id="destinazione"></div>
        <div><label>N Biglietti : </label> <input type="number" placeholder="Biglietti" name="nBiglietti" id="nBiglietti"></div>
        <label class="data2"> DA :</label>
        <div class="datac2"> <input class=d2 type="date"  id="dateStandard" name="dateStandard" ></div>

      </div>
        <div class="col">
        <div> <label>Andata : </label> <input type="datetime" placeholder="Andata" name="Andata" id="andata"></div>
        <div><label>Ritorno : </label> <input type="datetime" placeholder="Ritorno" name="Ritorno" id="ritorno"></div>
        <div><label>Titolo : </label> <input type="text" placeholder="Titolo" name="Titolo" id="Titolo"></div>
        <div><label>Descrizione : </label> <input type="text" placeholder="Descrizione" name="Descrizione" id="Descrizione"></div>
        <div> <label>linkImg : </label> <input type="text" placeholder="linkImg" name="linkImg" id="linkImg"></div>
        <label class="data2"> A :</label>
        <div class="datac2"> <input class=d2 type="date"  id="dateStandard" name="dateStandard" ></div>

      </div>
        </div>
      </form>
    <button type="submit" name="aggiungiViaggio" value="aggiungiViaggio" (click)="aggiungiViaggio()"> aggiungi Viaggio </button>

    <!--------------------------------------------------------------------->
  </div>


</fieldset>
    </table>

</div>

