<div class="image">
    <table border="0" align = "center" cellpadding="0" cellspacing="0">
<fieldset>
  <div class="logreg">
  <i class="bi bi-universal-access-circle"></i><a href="alloggi" class="link-secondary"><i>Home</i>   </a>
</div><br>
  <br><div style="text-align: center;"><a href=""><img src="../assets/logo.png" width="250" height="200" ></a></div>
 

 
  
<!--------------------------------------------------------------------->   
<br><br><form [formGroup]= "mioForm2" (ngSubmit)="aggiungiAlloggio()">

<!--------------------------------------------------------------------->       
  <div class="padding: 0px 30px 0px 30px;">
    
    <div class="row text-center ">

      <div class="col">
        <label>Destinazione : </label><br>
        <label>N° Partecipanti : </label><br>
        <label>Pensione : </label><br>
        <label>Titolo : </label><br>
        <label>N° Bagni : </label><br>
        <label>N° Stanze Letto : </label><br>
        <label>Descrizione : </label><br>
        <label>linkImg : </label>
      </div>

      <div class="col">
        <input type="text" placeholder="Destinazione" name="Destinazione" id="destinazione" formControlName="destinazione"><br>
        <input type="number" placeholder="Numero di partecipanti" name="nPartecipanti" id="nPartecipanti" formControlName="nPartecipanti"><br>
        <select class="selectpicker"  data-style="btn-primary" formControlName="pensione"><br>
          <option value="no">Seleziona Pensione</option>
          <option value="Completa">Completa</option>
          <option value="Mezza">Mezza</option>
          <option value="No">No</option>
        </select><br>
        <input type="text" placeholder="titolo" name="titolo" id="titolo" formControlName="titolo"><br>
        <input type="number" placeholder="Numero di bagni " name="nBagni" id="nBagni" formControlName="nBagni"><br>
        <input type="number" placeholder="Numero stanze letto " name="nLetti" id="nLetti" formControlName="nStanzaLetto"><br>
        <input type="text" placeholder="Descrizione" name="descrizione" id="descrizione" formControlName="descrizione"><br>
        <input type="text" placeholder="linkImg" name="linkImg" id="linkImg" formControlName="linkImg">
        </div>

    </div>

  </div>
<!--------------------------------------------------------------------->
        
<br><br><button type="submit" name="aggiungiAlloggio" value="aggiungiAlloggio" > aggiungi Alloggio </button>
</form>
<!--------------------------------------------------------------------->

<br><br><br><form [formGroup]= "mioForm3" (ngSubmit)="aggiungiOfferta()">
  <!--------------------------------------------------------------------->
  <div class="padding: 0px 30px 0px 30px;">
    
    <div class="row text-center ">

      <div class="col">
        <label class="data2"> DA :</label><br>
        <label class="data2"> A :</label><br>
        <label>Prezzo :  </label><br>
        <label>Codice Alloggio : </label>
      </div>

      <div class="col">
        <input class="d2" type="date"  id="dateStandard1" name="dateStandard1" formControlName="dataInizioOfferta"><br>
        <input class="d2" type="date"  id="dateStandard2" name="dateStandard2" formControlName="dataFineOfferta"><br>
        <input type="input" placeholder="Prezzo" name="Prezzo" id="Prezzo" formControlName="prezzo"><br>
        <input type="input" placeholder="idVacanza" name="idVacanza" id="idVacanza" formControlName="idVacanzaOfferta">
        </div>

    </div>

  </div>
  <!--------------------------------------------------------------------->

  <br><br><button type="submit" name="aggiungiOfferta" value="aggiungiOfferta" > aggiungi Offerta </button>
</form>
<!--------------------------------------------------------------------->














    <!--------------------------------------------------------------------->
    <br><br><br><form>
        <!--------------------------------------------------------------------->
  <div class="padding: 0px 30px 0px 30px;">
    
    <div class="row text-center ">

      <div class="col">
        <label>Titolo : </label><br>
        <label>Destinazione : </label><br>
        <label>N° Partecipanti : </label><br>
        <label>Descrizione : </label><br>
        <label class="data2"> DA :</label><br>
        <label class="data2"> A :</label><br>
        <label>linkImg : </label>

      </div>

      <div class="col">
        <input type="text" placeholder="Titolo" name="Titolo" id="Titolo"><br>
        <input type="text" placeholder="Destinazione" name="Destinazione" id="destinazione"><br>
        <input type="number" placeholder="Numero di partecipanti" name="nPartecipanti" id="nPartecipanti"><br>
        <input type="text" placeholder="Descrizione" name="Descrizione" id="Descrizione"><br>
        <div class="datac2"> <input class="d2" type="date"  id="dateStandard1" name="dateStandard1" ></div>
        <div class="datac2"> <input class="d2" type="date"  id="dateStandard2" name="dateStandard2" ></div>
        <input type="text" placeholder="linkImg" name="linkImg" id="linkImg">

        </div>

    </div>

  </div>
  <!--------------------------------------------------------------------->
    <br><br><button type="submit" name="aggiungiPacchetto" value="aggiungiPacchetto" (click)="aggiungiPacchetto()"> aggiungi Pacchetto </button>
    </form>


  
    <!--------------------------------------------------------------------->
    <br><br><br><form>
        <div class="row text-center ">

          <div class="col">
            <label>Partenza : </label><br>
            <label>Andata : </label> <br>
            <label>Destinazione : </label> <br>
            <label>Ritorno : </label> <br>
            <label>N° Biglietti : </label> <br>
            <label>Titolo : </label> <br>
            <label>Descrizione : </label> <br>
            <label class="data2"> DA :</label><br>
            <label class="data2"> A :</label><br>
            <label>linkImg : </label> 
          </div>

          <div class="col">
            <input type="text" placeholder="Partenza" name="Partenza" id="partenza"><br>
            <input type="datetime" placeholder="Andata" name="Andata" id="andata"><br>
            <input type="text" placeholder="Destinazione" name="Destinazione" id="destinazione"><br>
            <input type="datetime" placeholder="Ritorno" name="Ritorno" id="ritorno"><br>
            <input type="number" placeholder="Biglietti" name="nBiglietti" id="nBiglietti"><br>
            <input type="text" placeholder="Titolo" name="Titolo" id="Titolo"><br>
            <input type="text" placeholder="Descrizione" name="Descrizione" id="Descrizione"><br>
            <div class="datac2"> 
              <input class="d2" type="date"  id="dateStandard1" name="dateStandard1" ></div>
            <div class="datac2"> 
              <input class="d2" type="date"  id="dateStandard2" name="dateStandard2" ></div>
            <input type="text" placeholder="linkImg" name="linkImg" id="linkImg">
          </div>

        </div>
        <br><br><button type="submit" name="aggiungiViaggio" value="aggiungiViaggio" (click)="aggiungiViaggio()"> aggiungi Viaggio </button>
    </form>

    <!--------------------------------------------------------------------->


</fieldset>
    </table>

</div>

