.image{

    background-image:url('../../assets/back_img.png');

    margin: -15px -15px -15px -15px;
width:auto;
height:auto;

}
fieldset {
 
  
  
    background-color:white;
  margin: 20px;
  padding: 10px,10px 10px 10px;
  border: 1px solid #666;
  border-radius: 20px;
  box-shadow: 0 0 30px #666;
  padding-top: 10px;}
 