.image{

    background-image:url('../../assets/back_img.png');
   
    margin: -15px -15px -15px -15px;
    
}
fieldset {
 
  
  margin:0px 100px 0px 100px;
  background-color:white;
  padding: 10px 50px 30px 50px;
  
  border-radius: 20px;
  box-shadow: 0 0 30px #666;
}
 